#main_header_component{
    height:50px;
    width: 90%;
}
#main_header_component #profile_button{
    width:60px;
    height: 60px;
    background-color: lightgray;
    border-radius: 100%;
    transition: 200ms;
}
#main_header_component #profile_button:hover{
    background-color: gray;
}
